*{
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	height: 450px;
	overflow: hidden;
	background: url(../img/banner-head.jpg);
}
content{
	overflow: hidden;
}
h1{
	text-indent: 5000px;
	background: url(../img/logo.png) top center #1b8abe no-repeat;
	width: 150px;
	height: 100px;
	float: left;
}
nav{
	position: fixed;
	width: 100%;
}
nav li{
	display: inline-block;
	padding: 31px 80px;
	
}
nav li a{
	color: white;
	font-size: 2rem;
	text-decoration: none;
}
nav ul{
	background-color: #000;
}
.hero-image{
	width: 100%;
}
footer{
	width: 100%;
}